/* home page */
.was-validated:invalid .invalid-feedback {
  display: block;
}

.bg-primary {
  background-color: #302e97 !important;
  color: #fff;
}

@media screen and (max-width: 450px) {
  .shop_toolbar_wrapper .orderByCategory {
    margin: 10px 0;
  }
}

.bg-gray {
  background-color: #f5f5f5;
}

.btn-primary {
  background-color: #302e97;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 0;
}

.btn-primary:hover {
  background-color: #f4f4f4;
  color: #000;
}

.instagram-box {
  position: relative;
  background-color: var(--theme-deafult);
  overflow: hidden;
}

.instagram-box img {
  width: 100%;
}

.gallery-box .overlay {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #302e97;
  top: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.gallery-box .overlay i {
  font-size: 60px;
  color: #ffffff;
}

.gallery-box:hover .overlay {
  opacity: 0.5;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
  cursor: pointer;
}

#gallery_box .modal-md {
  min-width: 500px !important;
}

#gallery_box .modal-content button.close {
  top: 0;
  right: 0;
  left: auto;
}

.product_deals .owl-nav .owl-next:hover {
  right: 0;
}

.product_deals .owl-nav .owl-prev:hover {
  left: 0;
}

/* whi are we */
.who_are_we {
  padding: 40px;
  background-color: #f5f5f5;
}

.who_are_we .box {
  border-radius: 10px;
  padding: 25px 30px;
}

.who_are_we.about_page {
  padding: 40px;
  background-color: #fff;
}

.who_are_we.about_page .box {
  border-radius: 10px;
  padding: 25px 30px;
}

/* section{
    padding: 40px 0;
} */
.faq-client-say-area #faq .card {
  margin-bottom: 30px;
  border: 0;
}

.faq-client-say-area #faq .card .card-header {
  border: 0;
  -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
  box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
  border-radius: 2px;
  padding: 0;
}

.faq-client-say-area #faq .card .card-header .btn-header-link {
  color: #fff;
  display: block;
  text-align: left;
  background: #302e97;
  color: #fff;
  padding: 12px 20px;
}

.faq-client-say-area #faq .card .card-header .btn-header-link:after {
  content: "\f106";
  font-family: 'FontAwesome';
  font-weight: 900;
  float: right;
}

.faq-client-say-area #faq .card .card-header .btn-header-link.collapsed {
  background: #ccc;
  color: #000;
}

.faq-client-say-area #faq .card .card-header .btn-header-link.collapsed:after {
  content: "\f0d7";
}

.faq-client-say-area #faq .card .card-body {
  border: 1px solid #ccc;
  border-top: none;
}

.faq-client-say-area #faq .card .collapse {
  border: 0;
}

.banner_area .banner_thumb img {
  height: 200px;
  /* object-fit: cover; */
}

@media screen and (max-width: 768px) {
  .main_header {
    padding: 0 0 28px 0;
  }
}

.header_middle2 {
  background-color: #302e97;
  padding: 0;
}

.header .logo img {
  height: 90px;
}

.header_bottom .row {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

@media screen and (max-width: 868px) {
  .header_bottom .row {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

.header_bottom .categories_menu_toggle .btn {
  padding-right: 0;
  padding-left: 0;
}

.header_bottom .categories_menu_toggle .menu_item_children {
  padding: 0 20px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product_area {
  padding: 40px 0;
}

.categories_menu .categories_title {
  background-color: #fff;
}

.categories_menu .categories_title h2 {
  color: #302e97;
}

.categories_menu .categories_title h2::after {
  color: #302e97;
}

.categories_menu .categories_title h2::before {
  color: #302e97;
}

.visionMission {
  padding: 40px 0;
  background-color: #f5f5f5;
}

.brand_container {
  border: none;
}

.footer_border .footer_top {
  border: none;
}

.footer_bottom {
  padding: 10px 0;
}

.footer_bottom p {
  color: #fff;
}

footer .footer_top {
  padding: 64px 0;
  background-color: #f5f5f5;
}

footer .footer_top .contact-list li {
  padding-left: 25px;
  line-height: 28px;
  position: relative;
  display: inherit;
  padding-top: 13px;
  text-transform: capitalize;
  font-size: 16px;
  color: #777777;
}

footer .footer_top .contact-list li i {
  position: absolute;
  left: 0;
  top: 21px;
}

.nice-select .list {
  width: 100%;
}

.checkout_section .calc-shipping-body {
  padding: 10px 15px;
  background-color: #e9ecef;
}

.checkout_section .checkout_form h3 {
  background-color: #302e97;
}

.checkout_section .form-check .form-check-input {
  width: 20px;
  padding: 2px 2px;
  height: 20px;
  margin-right: 10px;
}

input[type=radio] {
  border: 1px solid #777;
}

input[type=radio]:checked {
  background-color: #302e97;
}

.form_box .form-control-validation {
  margin-bottom: 20px;
}

.form_box .form-control-validation.error input,
.form_box .form-control-validation.error select,
.form_box .form-control-validation.error textarea {
  border: 1px solid #e74c3c !important;
}

.form_box .form-control-validation.success select,
.form_box .form-control-validation.success input,
.form_box .form-control-validation.success textarea {
  border: 1px solid #2ecc71 !important;
}

.form_box .form-control-validation select,
.form_box .form-control-validation input,
.form_box .form-control-validation textarea {
  margin-bottom: 5px !important;
}

.form_box .form-control-validation small {
  color: #e74c3c;
  display: none;
}

.form_box .form-control-validation.error small {
  display: block;
}

.form_box .form-control-validation {
  margin-bottom: 20px;
}

.form-control-validation.error input,
.form-control-validation.error select,
.form-control-validation.error textarea {
  border: 1px solid #e74c3c !important;
}

.form-control-validation.success select,
.form-control-validation.success input,
.form-control-validation.success textarea {
  border: 1px solid #2ecc71 !important;
}

.form-control-validation select,
.form-control-validation input,
.form-control-validation textarea {
  margin-bottom: 5px !important;
}

.form-control-validation small {
  color: #e74c3c;
  display: none;
}

.form-control-validation.error small {
  display: block;
}

.profile_img {
  position: absolute;
  top: -53px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.profile .nav-link {
  border: 2px solid #302e97;
  border-radius: 0;
}

.profile .nav-link:hover {
  background-color: #302e97;
  color: #fff;
}

.profile__img {
  margin-bottom: 30px;
}

.profile img {
  height: 100px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  margin-top: -4px;
  position: absolute;
  top: -20px;
  left: 50%;
  z-index: 9;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 450px) {
  .profile img {
    height: 200px;
    width: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 100%;
    margin-top: -31px;
    position: absolute;
    top: -50px;
    left: 50%;
    z-index: 9;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.profileSection {
  padding: 200px 0;
}

.nav-pills .nav-link {
  color: #302e97;
}

.nav-pills .nav-link.active {
  background-color: #302e97;
  border-radius: 0;
}

.nav-pills .show > .nav-link {
  background-color: #302e97;
}

.profile .card {
  border: none;
  -webkit-box-shadow: 0 15px 55px 0 rgba(42, 46, 52, 0.1);
  box-shadow: 0 15px 55px 0 rgba(42, 46, 52, 0.1);
}

.product-order .product-order-detail img {
  height: 100px;
}

.product-order .total-sec ul li span {
  color: #000;
  float: right;
}

.product-order .total-sec {
  border-top: 1px dashed #dddddd;
  border-bottom: 1px dashed #dddddd;
  margin: 15px 0;
  padding: 15px 0;
}

.product-order .total-sec ul li {
  font-size: 16px;
  display: block;
  text-transform: capitalize;
  margin-bottom: 8px;
  color: #777777;
}

.product-order .final-total span {
  float: right;
}

.section-tb-padding {
  padding: 100px 0;
}

.slider_s_three a {
  background-color: #302e97;
}

.slider_s_three .owl-dots .owl-dot:hover {
  background-color: #302e97 !important;
  border: none;
}

.slider_s_three .owl-dots .owl-dot.active {
  background-color: #302e97 !important;
  border: none;
}

.header_middle2 .mini_cart {
  padding: 0;
}

.header_middle2 .mini_cart_wrapper {
  margin-right: 0;
  margin-left: 20px;
}

.header_middle2 .mini_cart_subtotal {
  margin-bottom: 18px;
}

.header_middle2 .header_account_area .canvas_open {
  margin-left: 20px;
}

.header_middle2 .cart_item {
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_middle2 .cart_img:hover {
  border-color: #fff;
}

.header_middle2 .cart_remove a:hover {
  color: #302e97;
}

.header_middle2 .cart_close {
  padding: 10px 18px;
}

.header_middle2 .cart_button a:hover {
  background-color: #302e97;
  border: #302e97;
}

.header_middle2 .cart_gallery {
  max-height: calc(100% - 266px);
  overflow-y: auto;
  margin-top: 5px;
}

.header_middle2 .mini_cart_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 18px;
  width: 100%;
  background-color: #fff;
}

.cart {
  padding: 10px 15px;
  background-color: #f8f8f8;
}

.cart_header {
  padding: 15px 0;
  border-bottom: 2px solid #ccc;
}

.cart_table_border {
  padding: 12px 0;
  border-top: 1px solid #ccc;
}

.cart_item {
  border-bottom: 1px solid #ccc;
}

@media screen and (max-width: 575px) {
  .widgets_container {
    text-align: left;
  }
}

.footer_widgets h4 {
  font-size: 22px;
  font-weight: 600;
}

.footer_widgets .about_caption {
  font-size: 14px !important;
  font-weight: 500;
}

.footer_widgets .copyright_area img {
  height: 40px;
}

aside.sidebar_widget {
  background-color: #f8f8f8;
  padding: 15px;
}

#registerForm button {
  border-radius: 0;
}

#registerForm input::-webkit-outer-spin-button,
#registerForm input::-webkit-inner-spin-button,
#contactForm input::-webkit-outer-spin-button,
#contactForm input::-webkit-inner-spin-button,
.address_area input::-webkit-outer-spin-button,
.address_area input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contact_message.form {
  background-color: #f8f8f8;
  padding: 30px;
}

.contact_message.content {
  background-color: #f8f8f8;
  padding: 30px;
}

.contact_message button {
  border-radius: 0;
}

.contact_message button:hover {
  color: #fff !important;
}

/* Firefox */
#registerForm input[type=number],
#contactForm input[type=number],
.address_area input[type=number] {
  -moz-appearance: textfield;
}

.customer_register {
  padding: 40px 0;
}

.was-validated select:invalid {
  border: 1px solid;
}

select.form-control {
  height: 40px;
  border: 0;
  max-width: 100%;
  padding: 0 20px;
  background: none;
  width: 100%;
}

.address_area .form-check.address-erea {
  border: 2px solid #302e97;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0 10px 36px;
}

.address_area .form-check-input {
  margin-right: 12px;
}

@media screen and (max-width: 450px) {
  .track-order li {
    margin-bottom: 10px;
  }
}

.tracks .track-status {
  font-weight: 500;
  font-size: 18px;
}

.tracks .card {
  border: none;
  -webkit-box-shadow: 0 15px 55px 0 rgba(42, 46, 52, 0.1);
  box-shadow: 0 15px 55px 0 rgba(42, 46, 52, 0.1);
  padding: 40px 25px;
  margin-bottom: 20px;
}

.tracks .track-area .track-main {
  margin-top: 20px;
  padding-top: 8px;
  border-top: 1px solid #eee;
}

.tracks .track-area .track-main .track {
  position: relative;
  height: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  margin-top: 40px;
}

.tracks .track-area .track-main .track:before {
  background-color: #c82333;
  content: '';
  position: absolute;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  width: 100%;
  height: 7px;
}

.tracks .track-area .track-main .track .icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: relative;
  border-radius: 100%;
  background: #c82333;
  color: #fff;
}

.tracks .track-area .track-main .track .text {
  display: block;
  margin-top: 7px;
}

.tracks .track-area .track-main .track .step {
  width: 25%;
  margin-top: -18px;
  text-align: center;
  position: relative;
}

.tracks .track-area .track-main .track .step.active .icon {
  background-color: #302e97;
  color: #fff;
}

.tracks .track-area .track-main .track .step.active .text {
  font-weight: 400;
  color: #000;
}

.tracks .track-area .track-main .track .step.active:before {
  background-color: #302e97;
}

.tracks .track-area .track-main .track .step::before {
  height: 8px;
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  top: 17.5px;
}

#saveAddress .form-check {
  border: none;
  -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
  box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
}

#saveAddress .form-check .form-check-label h5 {
  margin-left: 10px;
}

#saveAddress .form-check .form-check-label span {
  margin-left: 10px;
}

.checkout_form .items .card {
  -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
  box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
  border: none;
}

.checkout-table h5 {
  margin-bottom: 0;
}

.form-control {
  border-radius: 0;
  border: 1px solid #ededed;
  -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
  box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
}

.account_form {
  -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
  box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
}

.account_form form {
  border: 0;
}

.form-group {
  margin-bottom: 20px;
}

.pagination .page-item.active .page-link {
  background-color: #302e97;
  color: #fff;
  border: 1px solid #302e97;
}

.pagination .page-item .page-link {
  color: #302e97;
  border: 1px solid #302e97;
}

.loader {
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  margin-top: 0px;
  top: 0px;
  z-index: 9999999;
}

.loader .loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.loader .loader-container:before {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 140px;
  height: 140px;
  border-top: 4px solid #302e97;
  border-radius: 50%;
  animation: loaderspin 1.8s infinite ease-in-out;
  -webkit-animation: loaderspin 1.8s infinite ease-in-out;
}

.loader .loader-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80px;
}

@keyframes loaderspin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@-webkit-keyframes loaderspin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@-webkit-keyframes loaderpulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes loaderpulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.text-left {
  text-align: left;
}
/*# sourceMappingURL=custom.css.map */